$colors: (
  clr-light-2: #f0f4f8,
  clr-light-1: #e0e0e0,
  clr-light-3: #cccccc,
  clr-light-4: #f3f6fa,
  clr-light-5: #e5e5e5,
  clr-white: #ffffff,
  clr-dark-1: #666666,
  clr-dark-2: #333333,
  clr-dark-3: #313131,
  clr-black: #000000,
  clr-shadow-1: #0000001a,
  clr-shadow-2: #7713f133,
  clr-shadow-3: #6c63ff80,
  clr-purple-1: #7713f1,
  clr-purple-2: #6500df,
);

